.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}
.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}
.rightbarProfileImg{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
.rightbarOnline{
    width: 12px;
    height: 12px;
    background-color: limegreen;
    border-radius: 50%;
    position: absolute;
    border: 2px solid white;
    bottom: 2px;
    right: -5px;
}
.rightbarUsername{
    font-weight: 500;
}